/* dublin_renovations.css 17/03/2016 TG */
body {
	padding:0;
	margin:0;
	background:url("./images/mainBackground.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
	background-size:cover;
}
#bodyContainer {
	padding:0;
	margin:0 auto;
	width:90%; 
	min-width:1050px;
	max-width:1400px;
	height:auto;
}
#header {
	margin:0 auto;
	padding:0;
	width:100%;
	max-width:1400px;
	height:170px;
	background-color:rgba(100, 100, 100, 0.7);
}
#logo {
	padding:0;
	margin:0;
	width:35%;
	height:100%;
	float:left;
	font-size:120%;
}
#logo img {
	margin:0;
	width:40%;
	height:auto;
	float:left;
}
#logo h1 {
	font-family:"Arial Black", Impact, sans-serif;
	color:black;
}
#language {
	margin:15px;
	float:right;
}
#language img {
	width:30px;
	height:20px;
}
#call {
	visibility:visible;
	margin-top:30px;
	float:right;
	width:40%;
	text-align:right;
}
#call a {
	padding-right:20px;
	margin:0;
	font-size:200%;
	font-family:Impact, "Arial Black", sans-serif;
	text-decoration:none;
	color:black;
}
#call a:hover {
	color:white;
}
#navigation {
	margin:10px auto 0;
	padding:0 0 0 0;
	float:left;
	width:55%;
	font-family:Impact, "Arial Black", sans-serif;
	font-size:160%;
	text-align:center;
}
ul.menu li {
	display:inline;
	margin:0;
	padding:0 0 0 30px;
	color:white;
}
ul.menu li a {
	padding:0;
	margin:0;
	text-decoration:none;
	color:black;
}
ul.menu li a:hover{
	text-decoration:underline;
}
hr {
	margin:0;
	padding:0;
}
#underText {
	background:url("./images/underHeaderBackground1.jpg");
	background-size:cover;
	width:100%;
	height:200px;
	margin-bottom:100px;
	padding-top:20px;
}
#underText p  {
	padding:20px 0 0 220px;
	margin:0;
	text-align:left;
	font-family:Impact, "Arial Black", sans-serif;
	font-size:170%;
	color:black;
}
#underText span {
	padding-top:20px;
	font-size:200%;
}
#mainTextBackground {
	width:90%;
	background:url("./images/underHeaderBackground4.jpg");
	margin:0 auto 300px;
	background-size:cover;
	background-repeat:no-repeat;
	background-position:center;
	height:600px;
}
#mainTextBackgroundPl {
	width:100%;
	height:auto;
	min-height:500px;
	background:url("./images/underHeaderBackground3.jpg");
	padding:0;
	margin:0;
	background-size:cover;
	background-repeat:no-repeat;
	background-attachment:center;
	background-position:fixed;
	overflow:hidden;
}
#uderHeader {
	padding-top:20px;
	margin-left:160px;
	width:45%;
	height:70px;	
}
#uderHeader p  {
	padding:20px 0 0 20px;
	margin:0;
	text-align:left;
	font-family:Impact, "Arial Black", sans-serif;
	font-size:170%;
	color:black;
}
#uderHeader span {
	padding:0;
	margin:0;
	font-size:200%;
}
#mainText {
	background-color:rgba(255, 255, 255, 0.6);
	margin-top:200px;
	margin-left:40px;
	width:45%;
	height:auto;
	float:left;
	border-bottom:solid 5px gray;
	border-top:solid 5px gray;
	border-radius:50px 30px;
}
#mainText p {
	padding:100px 25px;
	color:black;
	font-size:150%;
	text-indent:20px;
	font-family:Arial, Impact, "Arial Black", sans-serif;
	text-align:justify;
}
#uderHeaderPl {
		background-color:rgba(255, 255, 255, 0.3);

	width:100%;
	height:auto;	
	float:left;
}
#uderHeaderPl p  {
	padding:10px;
	margin:0 auto;
	text-align:left;
	font-family:Impact, "Arial Black", sans-serif;
	font-size:170%;
	color:black;
}
#uderHeaderPl span {
	padding:0;
	margin:0;
	font-size:200%;
}
#mainTextPl {
	background-color:rgba(255, 255, 255, 0.3);
	margin:0 auto;
	width:45%;
	height:100%;
	min-height:500px;
	float:left;
	color:black;
	font-family:Arial, Impact, "Arial Black", sans-serif;
}
#mainTextPl span {
	font-size:200%;
}
#mainTextPl p {
	padding:15px;
	margin:0 auto;
	font-size:150%;
	text-indent:20px;
	text-align:justify;
}
#aboutText {
	background-color:rgba(255, 255, 255, 0.3);
	margin:50px auto;
	width:70%;
	height:auto;
	float:center;
	border-bottom:solid 5px gray;
	border-top:solid 5px gray;
	border-radius:50px 30px;
}
#aboutText p {
	padding:50px 25px;
	margin:0;
	color:black;
	font-size:200%;
	text-indent:20px;
	font-family:Arial, Impact, "Arial Black", sans-serif;
	text-align:justify;
}
#footer {
	width:100%;
	background-color:black;
}
#footer p {
	margin:0;
	padding:15px 0 10px;
	text-decoration:italic;
	text-align:center;
	color:white;
}